<footer class="footer">
  <span class="todo-count">
    <strong>{{$ctrl.activeCount || 'No'}}</strong> {{$ctrl.activeCount === 1 ? 'item' : 'items'}} left
  </span>
  <ul class="filters">
    <li key="filter" ng-repeat="filter in $ctrl.filters">
      <a class="pointer" ui-sref-active="selected" ui-sref="{{'main.todos' + $ctrl.filterStates[filter]}}">{{$ctrl.filterTitles[filter]}}</a>
    </li>
  </ul>
  <button ng-if="$ctrl.completedCount > 0"
    class="clear-completed"
    ng-click="$ctrl.onClearCompleted()"
    >
    Clear completed
  </button>
</footer>
