<footer class="footer">
  <span class="todo-count">
    <strong>{{$ctrl.activeCount || 'No'}}</strong> {{$ctrl.activeCount === 1 ? 'item' : 'items'}} left
  </span>
  <md-tabs md-dynamic-height="">
    <md-tab ng-repeat="filter in $ctrl.filters" 
            label="{{$ctrl.filterTitles[filter]}}" 
            md-active="$ctrl.selectedFilter == filter"
            md-on-select="$ctrl.handleSetFilter(filter)">
    </md-tab>
  </md-tabs>
  <button ng-if="$ctrl.completedCount > 0"
    class="clear-completed"
    ng-click="$ctrl.onClearCompleted()"
    >
    Clear completed
  </button>
</footer>
