<footer class="footer">
  <span class="todo-count">
    <strong>{{footer.activeCount || 'No'}}</strong> {{footer.activeCount === 1 ? 'item' : 'items'}} left
  </span>
  <ul class="filters">
    <li key="filter" ng-repeat="filter in footer.filters">
      <a class="pointer" ui-sref-active="selected" ui-sref="{{'main.todos' + footer.filterStates[filter]}}">{{footer.filterTitles[filter]}}</a>
    </li>
  </ul>
  <button ng-if="footer.completedCount > 0"
    class="clear-completed"
    ng-click="footer.onClearCompleted()"
    >
    Clear completed
  </button>
</footer>
