<md-list-item ng-class="{'editing': $ctrl.editing, 'completed': $ctrl.todo.completed}">
  <md-checkbox
    aria-label="Complete Toggle"
    ng-checked="$ctrl.todo.completed"
    ng-disabled="$ctrl.editing"
    ng-click="$ctrl.onComplete({id: $ctrl.todo.id})"
  ></md-checkbox>
  <h3 ng-if="!$ctrl.editing">
    {{$ctrl.todo.text}}
  </h3>
  <todo-text-input
    ng-if="$ctrl.editing"
    text="$ctrl.todo.text"
    editing="$ctrl.editing"
    on-save="$ctrl.onSave({id: $ctrl.todo.id, text}); $ctrl.editing = false"
    ></todo-text-input>
  <span flex=""></span>
  <span>
    <md-button aria-label="Edit" ng-click="$ctrl.editing = !$ctrl.editing;">
      <md-icon md-no-ink="" class="material-icons">mode_edit</md-icon> Edit
    </md-button>
  </span>
  <span>
    <md-button aria-label="Delete" class="md-icon-button" ng-click="$ctrl.onDelete({id: $ctrl.todo.id})">
      <md-icon md-no-ink="" class="material-icons">delete_forever</md-icon>
    </md-button>
  </span>
</md-list-item>
<md-divider></md-divider>
