<li ng-class="{'editing': todo.editing, 'completed': todo.todo.completed}">
  <todo-text-input
    ng-if="todo.editing"
    text="todo.todo.text"
    editing="todo.editing"
    on-save="todo.editTodo(todo.todo.id, text); todo.editing = false;"
    ></todo-text-input>
  <div class="view" ng-if="!todo.editing">
    <input
      class="toggle pointer"
      type="checkbox"
      ng-checked="todo.todo.completed"
      ng-click="todo.completeTodo(todo.todo.id)"
      />
    <label ng-dblclick="todo.handleDoubleClick()" ng-click="todo.handleDoubleClick()">{{todo.todo.text}}</label>
    <button class="destroy pointer" ng-click="todo.deleteTodo(todo.todo.id)"></button>
  </div>
</li>
