<md-list-item ng-class="{'edit': $ctrl.isEditing, 'completed': $ctrl.todo.completed}">
  <md-checkbox
    aria-label="Complete Toggle"
    ng-checked="$ctrl.todo.completed"
    ng-disabled="$ctrl.isEditing"
    ng-click="$ctrl.onComplete({id: $ctrl.todo.id})"
  ></md-checkbox>
  <h3 ng-if="!$ctrl.isEditing">
    {{$ctrl.todo.text}}
  </h3>
  <text-input
    ng-if="$ctrl.isEditing"
    text="$ctrl.todo.text"
    placeholder="New todo name"
    is-editing="$ctrl.isEditing"
    on-save="$ctrl.onSave({id: $ctrl.todo.id, text}); $ctrl.isEditing = false"
    ></text-input>
  <span flex=""></span>
  <span>
    <md-button aria-label="Edit" ng-click="$ctrl.isEditing = !$ctrl.isEditing;">
      <md-icon md-no-ink="" class="material-icons">mode_edit</md-icon> Edit
    </md-button>
  </span>
  <span>
    <md-button aria-label="Delete" class="md-icon-button" ng-click="$ctrl.onDelete({id: $ctrl.todo.id})" ng-show="$ctrl.isConfig">
      <md-icon md-no-ink="" class="material-icons">delete_forever</md-icon>
    </md-button>
  </span>
</md-list-item>
<md-divider></md-divider>
