<section class="main">
  <h1>todos</h1>
  <todo-text-input
    new-todo="true"
    on-save="$ctrl.addTodo(text)"
    placeholder="What needs to be done?"
  ></todo-text-input>
  <todos-filter
    filter="$ctrl.filter"
  ></todos-filter>
  <md-list ng-cloak="">
    <todo-item
      ng-repeat="todo in $ctrl.todos | filter : $ctrl.selectedFilter.filter"
      todo="todo"
      editing="false"
      on-delete="$ctrl.deleteTodo(id)"
      on-complete="$ctrl.completeTodo(id)"
      on-save="$ctrl.editTodo(id, text)"
    ></todo-item>
  </md-list>
  <footer-component ng-if="$ctrl.todos.length"
    active-count="$ctrl.activeCount()"
    completed-count="$ctrl.completedCount()"
    on-clear-completed="$ctrl.clearCompleted()"
    on-complete-all="$ctrl.completeAll()"
  ></footer-component>
</section>
