<section class="main">
  <h1>todos</h1>
  <todo-text-input
    new-todo="true"
    on-save="$ctrl.handleAdd(text)"
    placeholder="What needs to be done?"
  ></todo-text-input>
  <todos-filter
    filter="$ctrl.filter"
  ></todos-filter>
  <todo-list
    todos="$ctrl.todos"
  ></todo-list>
  <footer-component ng-if="$ctrl.todos.length"
    active-count="$ctrl.activeCount()"
    completed-count="$ctrl.completedCount()"
    on-clear-completed="$ctrl.clearCompleted()"
    on-complete-all="$ctrl.completeAll()"
  ></footer-component>
</section>
