<section class="main">
  <input ng-if="main.todos.length"
    class="toggle-all"
    type="checkbox"
    ng-checked="main.todos.reduce(main.completeReducer, 0) === main.todos.length"
    ng-click="main.completeAll()"
    />
  <ul class="todo-list">
    <todo-item
      ng-repeat="todo in main.todos | filter : main.selectedFilter.filter"
      todo="todo"
      on-destroy="main.deleteTodo(id)"
      on-change="main.completeTodo(id)"
      on-save="main.handleSave(todo)"
    ></todo-item>
  </ul>
  <footer-component ng-if="main.todos.length"
    completed-count="main.todos.reduce(main.completeReducer, 0)"
    active-count="main.todos.length - main.todos.reduce(main.completeReducer, 0)"
    filter="main.selectedFilter"
    on-clear-completed="main.clearCompleted()"
    on-show="main.handleShow(filter)"
  ></footer-component>
</section>
